body {
    font-family: Arial, sans-serif;
    background-color: #00c9bf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-page {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    margin-bottom: 20px;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.daily-task-section {
    width: 100%;
    text-align: center;
}

.daily-task-section h2 {
    margin-bottom: 20px;
    color: #333333;
}

.calendar-container,
.performance-graph-container {
    margin-bottom: 20px;
    margin-left: 20px ;
    width: 90%;
}

.calendar-container {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.performance-graph-container {
    background-color: #ffebcc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#logoutButton {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

#logoutButton:hover {
    background-color: #e60000;
}
